#screenShotBox{
    background-color: white;
    border: solid 1px gray;
}
#screenShotBox button{
    background-color: white;
}
#screenShotBox.largeSize {
    
    height: 100px;
    margin: 0px 0px 16px 0px;
}

#screenShotBox.largeSize #screenShotButton img {
    max-height: 60px;
    margin: 20px 10px 20px 10px;
}

#screenShotBox.mediumSize {
    height: 60px;
    margin: 0px 0px 12px 0px;
}

#screenShotBox.mediumSize #screenShotButton img {
    max-height: 36px;
    margin: 12px 6px 12px 6px;
}

#screenShotBox.smallSize {
    height: 40px;
    margin: 0px 0px 8px 0px;
    
}

#screenShotBox.smallSize #screenShotButton img {
    max-height: 24px;
    margin: 8px 4px 8px 4px;
}

#screenShotBox button {
    padding: 0px;
}


#screenShotButton {
    overflow:hidden;
    float: left;
    max-width: 20%;
    height: 100%;
    cursor: pointer;
    outline: none;
    border-width: 0px;
    border-right: solid 1px gray;
    padding: 0px;
}

#carouselLeftMoveButton {
    float: left;
    width: 20px;
    height: 100%;
    border-width: 0px;
    border-right: solid 1px gray;
    cursor: pointer;
    outline: none;
}
#carouselRightMoveButton {
    float: left;
    width: 20px;
    height: 100%;
    border-width: 0px;
    border-left: solid 1px gray;
    cursor: pointer;
    outline: none;
}

#screenShotCarousel{
    overflow: hidden;
    float: left;
    height: 100%;
}
#screenShotCarouselInner {
    height: 100%;
}

#screenShotBox.largeSize #screenShotCarouselInner div {
    float: left;
    height: 100%;
    width: 107px;
    margin: 0px 5px 0px 5px;
}
#screenShotBox.largeSize #screenShotCarouselInner div canvas {
    background-color:yellow;
    padding: 0px;
    margin: 5px 0px 0px 0px;
    height: 60px;
    width: 107px;
    cursor: pointer;
    outline: none;
    
}

#screenShotBox.largeSize #screenShotCarouselInner div a {
    display:block;
    text-align: center;
    line-height: 22px;
    color:royalblue;
    background-color:white;
    margin: 5px 0px 0px 0px;
    padding:0px;
    height: 20px;
    width: 105px;
    cursor: pointer;
    border-radius:10px;
    border: solid 1px royalblue;
    outline: none;
}

#screenShotBox.mediumSize #screenShotCarouselInner div {
    float: left;
    height: 100%;
    width: 64px;
    margin: 0px 3px 0px 3px;
}
#screenShotBox.mediumSize #screenShotCarouselInner div canvas {
    background-color:yellow;
    padding: 0px;
    margin: 2px 0px 0px 0px;
    height: 42px;
    width: 64px;
    cursor: pointer;
    outline: none;
    
}

#screenShotBox.mediumSize #screenShotCarouselInner div a {
    display:block;
    font-size: 0.1em;
    text-align: center;
    line-height: 12px;
    color:royalblue;
    background-color:white;
    margin: 0px 0px 0px 0px;
    padding:0px;
    height: 10px;
    width: 62px;
    cursor: pointer;
    border-radius:10px;
    border: solid 1px royalblue;
    outline: none;
}

#screenShotBox.smallSize #screenShotCarouselInner div {
    float: left;
    height: 100%;
    width: 43px;
    margin: 0px 2px 0px 2px;
}
#screenShotBox.smallSize #screenShotCarouselInner div canvas {
    background-color:yellow;
    padding: 0px;
    margin: 1px 0px 0px 0px;
    height: 25px;
    width: 43px;
    cursor: pointer;
    outline: none;
    
}

#screenShotBox.smallSize #screenShotCarouselInner div a {
    display:block;
    font-size: 0.05em;
    text-align: center;
    line-height: 10px;
    color:royalblue;
    background-color:white;
    margin: 0px 0px 0px 0px;
    padding:0px;
    height: 8px;
    width: 41px;
    cursor: pointer;
    border-radius:10px;
    border: solid 1px royalblue;
    outline: none;
}

#popupCanvas{
    position: absolute;
    background-color:blue;
}
