.component-lesson-player-controller-fullScreen{
    width: 24px;
    height: 24px;
    margin-right: 14px;
    margin-bottom: 11px;
    outline: none;
    cursor: pointer;
}

.component-lesson-player-controller-fullScreen button img {
    width: 24px;
    height: 24px;

}

.component-lesson-player-controller-fullScreen button {
    width: 24px;
    height: 24px;
    padding: 0px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    
}

