body {
    margin: 0px;
}
.customBox{
    width:15.5em;
    height: 6em;
    float: left;
    border:solid 1px #ffffff;
}
.customBoxHalf{
    width:15.5em;
    height: 3em;
    float: left;
    border:solid 1px #ffffff;
}
.customBoxLeft{
    float:left;
    box-sizing: border-box;
    width:2em;
    height: 100%;
    padding:0.4em 0em 0em 0em;
}
.customBoxRight{
    margin:0em 0em 0em 0.2em;
    float:left;
    width:13.3em;
    height: 100%;
    background-color: beige;
}
.customBoxWide{
    background-color:lightblue;
}
.customTitle{
    padding: 0.1em 0.0em 0.0em 0.4em;
}
.customCaption{
    font-size:0.8em;
}

.indent{
    margin: 0.4em 0em 0em 0.4em;
}

.disabled {
    background-color: #f0f0f0;
}

#videoSizeInitButton{
    font-size: 0.6em;
    border-radius: 1em;
    padding: 0px 4px 0px 4px;
    margin: 0px 0px 0px 0.2em;
    background-color: white;
    text-decoration:none;
    border-style: none;
    box-shadow: 0px;
    outline: none;
    cursor: pointer;
}

#videoSizeFixed, #videoSizeRatio{
    width: 40px;
}